textarea {
    min-height: 200px;
    margin-bottom: 20px;
}
hr {
    margin-top: 10px;
    margin-bottom: 15px;
}
.userpanel {
    display: flex;
    align-items: center;
    gap: 10px;
}
#compose {
    width: 80px;
}
#mailFlex {
    width: 100%;
}
.unreadMessage {
    background: rgba(100, 165, 209, 0.5);
}
.mailUnit, .mailUnit4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    outline: 1px solid rgba(76, 76, 80, 0.45);
}
.mailUnit:hover, .mailUnit4:hover {
    /* background: #60a5fa; */
    cursor: pointer;
    /* box-shadow: 0px 0px 4px 4px #60a5fa */
}
.mailUnit > span, .mailUnit4 > span {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 5px;
}
.mailUnit > .stamp {
    text-align: end;
    padding-right: 10px;
}
.mailUnit4 > button {
    align-self: center;
    justify-self: end;
    margin-right: 10px;
}
.arcButton {
    height: 30px;
    width: 90px;
    min-width: 72px;
    background-color: transparent;
    border-width: 1px;
    border-radius: 0.25em;
}
.linkdiv {
    position: absolute;
    width: 85%;
    height: 5%;
}
.alert {
    text-align: center;
}
.forhighlighting {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255/ 50%);
}
a.disabled {
    pointer-events: none;
}

